---
import Layout from '@/layouts/Layout.astro'
import SectionAlt from '@/components/SectionAlt.astro'
import photo1 from '@/assets/photo-1.jpg'
import photo2 from '@/assets/photo-2.jpg'
import photo3 from '@/assets/photo-3.jpg'
import photo4 from '@/assets/photo-4.jpg'
import photo5 from '@/assets/photo-5.jpg'
---

<Layout title="Example Scroll Page Animation">
  <main
    class="flex flex-col bg-[hsla(216,66%,27%,1)] motion-safe:overflow-hidden motion-reduce:md:gap-[10dvh]"
    data-animate="background"
  >
    <SectionAlt image={photo1} />
    <SectionAlt image={photo2} />
    <SectionAlt image={photo3} />
    <SectionAlt image={photo4} />
    <SectionAlt image={photo5} />
  </main>
</Layout>
